---
# Accounts
root_password: HTPASSWD-HASHED-PASSWORD
user_password: HTPASSWD-HASHED-PASSWORD

# SSH
ssh_public_keys:
  - ~/.ssh/id_rsa.pub

# Resilio
resilio_shares: 
  - group: default
    shares:
    - RESILIO_KEY
  - group: john_smith
    shares:
    - RESILIO_KEY